.App {
  min-height: 100vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  position: relative;
}

.App .who {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App .who input {
  position: absolute;
  top: 20px;
  left: 100px;
}
.App .who img {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 1200px;
  height: 700px;
}
.App .who canvas {
  z-index: 10;
  position: absolute;
  top: 100px;
  left: 100px;
}
.App .block {
  position: relative;
  width: 840px;
  height: 600px;
}
.webref {
  position: absolute;
  top: 0;
  left: 0;
  width: 840px;
  height: 600px;
  box-shadow: inset 0 0 10px #282c34;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 840px;
  height: 600px;
}
